# Entorno virtual
venv/
.venv/
env/

# Ignorar la base de datos personal
data/*.db
data/*.sqlite

# Ignorar las fotos de rostros registrados
data/rostros_registrados/
*.jpg
*.png

# Pero NO ignores la carpeta data en sí, solo su contenido
!data/.gitkeep

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/